@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>

<address>
    Adrian Santoso, WA 08969696969<br />
    Vincent Yonathan, WA 08123456789<br />
    Frans Wijaya, WA 08987654321<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">SupportRossie@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">MarketingRossie@gmail.com</a>
</address>