@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Polly Store</h1>
    <p class="lead">Polly Store is here. WE SELL, WE BUY!</p>
    <p><a target="#" href="https://adriansantoso21.github.io/quiz1/" class="btn btn-primary btn-lg">Owner &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Want to know more about us?</h2>
        <p>
            We are three young entrepreneurs that currently building our own business. Here, we sell everything and we buy everything, as long as the price is bargain.
        </p>
        <p><a target="#" class="btn btn-default" href="https://www.linkedin.com/in/adrian-santoso-a48796214/">About us &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Where to visit us?</h2>
        <p>All of us live in Indonesia, a beautiful and amazing country. To know more about Indonesia, press the button below.</p>
        <p><a target="#" class="btn btn-default" href="https://www.britannica.com/place/Indonesia">Visit Indonesia &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About ASP.NET</h2>
        <p>We use ASP.NET to build this website. To learn more about ASP.NET, press the button below.</p>
        <p><a target="#" class="btn btn-default" href="https://dotnet.microsoft.com/apps/aspnet">Learn more &raquo;</a></p>
    </div>
</div>